{% extends 'base.html' %}
{% block title %} الدفع  {% endblock %}
{% block content %}
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
          <div class="card-body p-4">

            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                <form>
                  <div class="d-flex flex-row pb-3">
                    <div class="d-flex align-items-center pe-2 p-2">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v" checked />
                    </div>
                    <div class="rounded border w-100 p-3">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"></i>Credit
                        Card
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row pb-3">
                    <div class="d-flex align-items-center pe-2 p-2">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"/>
                    </div>
                    <div class="rounded border w-100 p-3">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"></i>Debit Card
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="d-flex align-items-center pe-2 p-2">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"/>
                    </div>
                    <div class="rounded border w-100 p-3">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2"></i>PayPal
                      </p>
                    </div>
                  </div>
                </form>
              </div>
              <!-- معلومات البطاقة -->
              <div class="col-md-6 col-lg-4 col-xl-6">
                <div class="row">
                  <div class="col-12 col-xl-6">
                    <div class="form-outline mb-4 mb-xl-5">
                      <label class="form-label" for="typeName">الاسم على البطاقة</label>
                      <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                        placeholder="Name" />
                    </div>

                    <div class="form-outline mb-4 mb-xl-5">
                      <label class="form-label" for="typeExp">انتهاء الصلاحية</label>
                      <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY"
                        size="7" id="exp" minlength="7" maxlength="7" />
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="form-outline mb-4 mb-xl-5">
                      <label class="form-label" for="typeText">رقم البطاقة</label>
                      <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                        placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                    </div>

                    <div class="form-outline mb-4 mb-xl-5">
                      <label class="form-label" for="typeText">CVV</label>
                      <input type="password" id="typeText" class="form-control form-control-lg"
                        placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- تفاصيل المنتج -->
              {% for item in furniture %}
              <div class="col-lg-4 col-xl-3">
                <div class="d-flex justify-content-between mb-3" style="font-weight: 500;">
                  <p class="mb-2">أسم المنتج</p>
                  <p class="mb-0">{{item.itemsid.name}}</p>
                </div>
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">السعر</p>
                  <p class="mb-0">{{item.price}} ر.س </p>
                </div>
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">الضريبة</p>
                  <p class="mb-0">{{item.tax}}  ر.س </p>
                </div>
                <hr class="my-4">
                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">المجموع </p>
                  <p class="mb-2"> {{item.total}}  ر.س </p>
                </div>
                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">الصافي </p>
                  <p class="mb-2">{{item.total}} ر.س </p>
                </div>
                <button type="button" class="btn btn-secondary btn-block btn-lg">
                  <div class="d-flex justify-content-between">
                    <span>أدفع <i class="bi bi-credit-card" style='font-size: 1.3rem; position: relative; right: 3px; top: 3px;'></i></span>
                    <span></span>
                  </div>
                </button>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}